@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #123456;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }

.loading-text {
    font-size: 24px;
    font-family:sans-serif;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
  }